/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #FAF9F6;
}

/* Centering the Navbar Container */
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}


/* Navbar Styling */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    max-width: 1200px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: #000000;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    position: sticky;
    top: 0; 
    z-index: 1000; 
}

/* Logo Styling */
.navbar img {
    width: 35px;
    height: 35px;
    font-size: 1.5em;
    font-weight: bold;
}

/* Navigation Links Styling */
.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #000000;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #e91e63;
}

/* Hamburger Menu Styling */
.menu-toggle {
    display: none;
}

.hamburger {

    display: none;
    font-size: 1.5em;
    cursor: pointer;
}


/* Profile Section Styling */
.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    width: 85%;
    max-width: 1200px;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.profile-picture img {
    margin: 20px;
    width: 300px; 
    height: 300px; 
    border-radius: 25px;
    object-fit: fill;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}

.profile-info {
    
    font-style: normal;
    margin: 60px;
    text-align: center;
    
}

.profile-info h1 {
    font-family: "Archivo Black", sans-serif;
    
    font-size: 2em;
    margin-bottom: 10px;
}

.profile-info h2 {
    font-family: "Archivo Black", sans-serif;
    
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #e91e63;
}

.social-icons{
    margin-top: 30px;
}
.social-icons a {
    margin-right: 10px;
    text-decoration: none;
}



.social-icons i:hover {
    opacity: 0.7;
}
/* About Me Section Styling */
.about-me-section {
    margin-top: 30px;
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-me-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.about-me-section p {
    
    color: #666;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Skills Section Styling */
.skills-section {
    margin-top: 30px;
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.skills-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.skills-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x:auto;
    gap: 20px;
    padding: 10px;
}

.skill-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 120px;
}

.skill-icon img {
    width: 60px; 
    height: 60px; 
    margin-bottom: 10px;
}

.skill-icon p {
    font-size: 1em;
    color: #333;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
}
/* Projects Section Styling */
.projects-section {
    margin-top: 30px;
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.projects-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #000000;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.projects-section p{
    margin-top: 10px;
    text-align: center;
    color: #f1f1f1;
    font-size: xx-small;
}

/* Projects Grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Project Card Styling */
.project-card {
    display: block;
    text-decoration: none;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.project-card:hover{
    transform: scale(1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .4);
}


.project-card img {
    width: 100%;
    height: 200px; /* Adjust as needed */
    object-fit: cover;
}

.project-card h3 {
    font-size: 1.6em;
    color:  #e91e63;
    text-align: center;
    padding: 10px 0;
    font-family: "Archivo Black", sans-serif;
}
.project-card h4 {
    font-size: 1em;
    color: #333;
    text-align: center;
    padding: 10px 0;
    font-family: "Archivo Black", sans-serif;
}

/* Experience Section Styling */
.experience-section {
    margin-top: 30px;
    width: 85%;
    max-width: 1200px;
    padding: 20px 0;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.experience-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.experience-content strong{
    font-size: 1.1em;
    color: #e91e63;
    font-family: "Archivo Black", sans-serif;
}
.experience-content h4{
    font-size: 1.1em;
    color: #666;
    font-family: "Archivo Black", sans-serif;
}

.experience-content h2 {
    
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}

.experience-item {
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.experience-item h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    font-family: "Archivo Black", sans-serif;
    color: #666;
    
}

.experience-item p {
    margin-bottom: 10px;
    color: #555;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* Education Section Styling */
.education-section {
    margin-top: 30px;
    width: 85%;
    max-width: 1200px;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.education-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #000000;
    font-family: "Archivo Black", sans-serif;
   
    font-style: normal;
}

/* Individual Education Card */
.education-card {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.education-card h3 {
    font-size: 1.4em;
    color: #666;
    margin-bottom: 10px;
    font-family: "Archivo Black", sans-serif;
    
}

.education-card .institute {
    font-size: .9em;
    color: #e91e63;
    margin-bottom: 10px;
    font-family: "Archivo Black", sans-serif;
}

.education-card .year {
    font-size: 1em;
    color: #777;
    font-family: "Archivo Black", sans-serif;
}

/* Contact Section Styling */
.contact-section {
    margin-top: 30px;
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    
}

.contact-section h2 {
    font-size: 2em;
    margin-bottom: 30px;
    color: #333;
    font-family: "Archivo Black", sans-serif;
}

/* Contact Container */
.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 20px;
}

/* Left Side (Image and Button) */
.image-section {
    flex: 1;
    margin-right: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.image-section img {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
    
}
.image-section img:hover{
    transform: scale(1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}
.map-view-btn {
    margin-bottom: 10px;
    padding: 10px 20px;
    background-color: #e91e63;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Archivo Black", sans-serif;
}

.map-view-btn:hover {
    background-color: #d81b60;
}

/* Right Side (Form) */
.form-section {
    flex: 1;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-section label {
    display: block;
    margin-bottom: 10px;
    font-family: "Archivo Black", sans-serif;
    color: #666;
    align-items: center;
}

.form-section input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: "Archivo Black", sans-serif;
    color: #666;
}

.submit-btn {
    width: 25%;
    padding: 12px 0;
    background-color: #e91e63;
    color:white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-family: "Archivo Black", sans-serif;
    
}

.submit-btn:hover {
    background-color: #d81b60;
    color: #fff;
}
/* Footer Section Styling */
.footer-section {
    margin-top: 30px;
    background-color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 20px;
}

.footer-left, .footer-center, .footer-right {
    flex-basis: 30%;
    margin-bottom: 20px;
}

.footer-left h3, .footer-center h3, .footer-right h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    font-family: "Archivo Black", sans-serif;
    color: #333;

}

.footer-left p, .footer-center ul, .footer-right .social-media p {
    font-size: .8em;
    margin-bottom: 10px;
    font-family: "Archivo Black", sans-serif;
    color: #666;
}

.footer-center ul {
    list-style: none;
    padding: 0;
}

.footer-center ul li {
    margin-bottom: 10px;
}

.footer-center ul li a {
    text-decoration: none;
    color: #666;
}

.footer-right .social-media {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-right .social-media a i {
    margin-top: 30px;
    width: 30px;
    height: 30px;
    transition: opacity 0.3s;
}

.footer-right .social-media a:hover img {
    opacity: 0.7;
}

/* Footer Bottom Styling */
.footer-bottom {
    background-color: #f5f5f5;
    padding: 10px 0;
}

.footer-bottom p {
    font-size: 0.7em;
    color: #666;
    font-family: "Archivo Black", sans-serif;
}




/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #ffffff;
        color: #000000;
        width: 100px;
        display: none;
        border-radius: 8px;
        box-shadow: 1px 1px 8px rgb(219, 218, 218);
        text-align: center;
        font-family: "Archivo Black", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    .nav-links li {
        margin: 10px 0;
    }

    .hamburger {
        display: block;
        align-items: center;
    }

    .menu-toggle:checked + .hamburger + .nav-links {
        display: flex;
    }
    .profile-section {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture {
        margin-bottom: 20px;
    }

    .profile-info {
        text-align: center;
    }

    .social-icons {
        margin-top: 20px;
    }
    .about-me-section {
        width: 85%;
    }

    .about-me-section h2 {
        font-size: 1.8em;
    }

    .about-me-section p {
        font-size: 1em;
    }
    .skills-section {
        width: 85%;
    }

    .skills-container {
        gap: 15px;
    }

    .skill-icon img {
        width: 50px;
        height: 50px;
    }

    .skill-icon p {
        font-size: 0.9em;
    }
    .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .experience-content {
        padding: 0 10px;
    }

    .experience-item {
        padding: 10px;
    }
    .education-card {
        padding: 15px;
    }

    .education-card h3 {
        font-size: 1.5em;
    }

    .education-card .institute {
        font-size: 1em;
    }

    .education-card .year {
        font-size: 0.9em;
    }
    .contact-container {
        flex-direction: column;
    }

    .image-section {
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-left, .footer-center, .footer-right {
        flex-basis: 100%;
        margin-bottom: 20px;
    }
}


@media (max-width: 480px) {

   
    .about-me-section {
        width: 85%;
        padding: 15px;
    }

    .about-me-section h2 {
        font-size: 1.6em;
    }

    .about-me-section p {
        font-size: 0.95em;
    }
    .skills-container {
        gap: 10px;
    }

    .skill-icon img {
        width: 40px;
        height: 40px;
    }

    .skill-icon p {
        font-size: 0.8em;
    }
    .projects-grid {
        grid-template-columns: 1fr;
    }

    .project-card img {
        height: 150px;
    }

    .project-card h3 {
        font-size: 1em;
    }
    .image-section img{
        width: 100%;
    }

}

